.imgnewline {
  float: none;
  display: block;
  position: relative;
  margin: 20px 0 20px 0;
}
.imgtwo {
  float: left;
  display: block;
  position: relative;
  max-width: 400px;
  margin: 5px 0 20px 20px;
}
